:root {
  --primary-color: #fa97c2;
  --secondary-color: #2fa0d5;
  --teriary-color: #73c926;
  --color-white: #fff;
}

/* Common */

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3 {
  font-family: "Changa One", cursive;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
}

/* - Ghi chú:
+ Sử dụng font Google 'Changa One'
+ Sử dụng icon search của fontawesome
+ Màu sắc chính của trang:
*/

#navbarHeader a {
  font-family: "Changa One", cursive;
  padding: 0 1.5rem;
}

#navbarHeader .active {
  color: var(--secondary-color);
}

#banner {
  background-image: url("img/bg_banner.gif");
}

#banner > div {
  background: url("img/search_bg.png") left top no-repeat,
    url("img/logo_bg.png") left top no-repeat,
    url("img/search_bg.png") right top no-repeat;
}

.btn-primary,
#about-section {
  background-color: var(--primary-color);
}

#about-section a {
  color: var(--secondary-color);
}

@media (max-width: 576px) {
  #banner {
    display: none;  
  }
  #banner-small {
    display: block;
  }
}

@media (min-width: 576px) {
  #banner {
    display: block;
  }
  #banner-small {
    display: none;
  }
}

#newsletter-signup {
  border: dotted 3px !important;
  border-radius: 10px;
  padding: 10px;
}

#newsletter-signup button[type^="sub"] {
  border-radius: 10px;
  outline: none;
}

#news-section .row {
  row-gap: 10px;
}

#date {
  background-color: var(--teriary-color);
  border-radius: 20px !important;
  padding: 0 6px;
}

footer {
  background: url("img/bg_footer.gif");
}

#navbar-footer a {
  font-family: "Changa One", cursive;
  padding: 0 1.5rem;
  color: var(--color-white);
}

#navbar-footer .active {
  color: var(--primary-color);
}
